.dropdown {
    display: inline-block;
    margin: 70px 20px 20px;
}

.surfing {
    width: 130px; height: 30px;
    border: 1px solid #c8d3da;
    padding-left: 4px;
}

p{
    margin-left: 15px;
    text-align: center;
  }

  .updated-news{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: royalblue;
    font: bolder;
    font-size: 20px;
}

.center-news-left {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.center-album1 ,.center-noticeboard1 , .center-noticeboard2 ,.center-album2{ 
    flex: 1;
    font-size: 13px;
}

.center-album-red {
    color: whitesmoke;
    background-color:rgb(255, 40, 24);
    border-radius: 10%;
    margin-left: 10px;
}

.center-noticeboard-blue{
    color: whitesmoke;
    background-color: royalblue;
    border-radius: 10%;
    margin-left: 10px;
}

.center-news-right {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.center-news-right1, .center-news-right2 {
    flex: 0.3;
    font-size: 12px;
    border-bottom: 1px solid silver;
    border-bottom-style: dashed;
}

.center-news-right3{
    flex: 1;
}

.center-news-right-number {
    color:royalblue;
}

.miniroom {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: royalblue;
    font: bolder;
    font-size: 20px;
}


.sat{
    color:blue;
}

.sun{
    color:red;
}




