.video{
    position: relative;
    padding-bottom:56.25%;
  }
  .iframe{
    position: absolute;
    top: 0;
    left: 0 ;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
  }

  .center-youtube {
    width: 600px; height: 550px;
    margin: 15px;
    overflow: auto;
}


.youtube-center {
    margin-bottom: 33px;
    
}


.youtube-title {
    text-align: center;
    background: #e8e7e6;
    padding: 11px 16px;
}

.youtube-ment {
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


